<h1>Products</h1>
<%= render partial: "product" %>
<div>
  <% @products.each do |product|%>
    <div id="pattern">
      <%= image_tag product.image, size: "200x200" %>
      <p> <%= product.name%> </p>
      <%= link_to 'View Details', product_show_url(product.id), :class => "btn" %>
      <%= button_to "Order", order_new_path %>
    </div>
  <% end %>
</div>