<h1>Products</h1>
<%= render partial: "product" %>
<div class="content">
  <h3><strong> <%= @product.name %> </strong></h3>
  <%= image_tag @product.image, size: "300x450" %>
  <%= @product.price %>
  <div style="width:40px;height:20px;background-color:<%= @product.color %>;">
  </div>
</div>