<!DOCTYPE html>
<html>
  <head>
    <title>SoccerShoesStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div id="app">
      <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Soccer Shoe Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <%= active_link_to 'Products', "/product/index", wrap_tag: :li, wrap_class: 'nav-item', class: 'nav-link' %>
            <%= active_link_to 'Sign Up', "/product/index", wrap_tag: :li, wrap_class: 'nav-item', class: 'nav-link' %>
          </ul>
          <form class="form-inline mt-2 mt-md-0" action="/product/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
            <input type="text" name="q" id="q" class="form-control mr-sm-2" placeholder="Search for Your Shoes" >
            <select class="form-control" name="category">
                <option v-for="item in categories"> {{ item }} </option>
            </select>
            <input type="submit" name="commit" value="Search" class="btn btn-outline-success my-2 my-sm-0" data-disable-with="Search" >
          </form>
        </div>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
